@charset "UTF-8";

html{
    font-size: 100%;

}

body{
    font-family:  "游ゴシック体","Yu Gothic Medium", "ヒラギノ角ゴ Pro W3", sans-serif;
    color:black;

}

/* 背景 */
#home{
    background-color:rgb(151, 226, 76);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}


#content{
    width: 80vw;
    height: 100vh;
    background-color: coral;
    margin-left: auto;
    margin-right: auto;
    position: relative;    
}



/* 痩せてる画像 */
#noprobrem{
    width: 300px;
    height: 400px;
    background-color: rgb(80, 191, 255);
    position: absolute;
    left: 20px;
    top: 500px;
}

/* メインフレーズ領域*/
#mainflase{
    width: 400px;
    height: 100px;
    background-color:darkmagenta;
    margin-left: auto;
    margin-right: auto;
    position: relative; 
    top:100px;
}

/* メインフレーズ */
h1{
    font-size: 50px;
    text-align: center;
}

/* アドバイス領域 */
#advace{
    width: 350px;
    height: 150px;
    background-color: rgb(193, 139, 224);
    position: absolute;
    left: 0;
    top: 1000px;
}

/* アドバイス */
h2{
    font-size: 40px;
    text-align: center;

}

/* 増えた体重領域 */
#allresult{
    height: 80px;
    width: 200px;
    /* background-color: darkred; */
    position: absolute;
    left: 80px;
    top:270px;
    text-align: center;
}

/* 増えた体重 */
p{
    font-size: 70px;
    font-weight:bold;
}
h3{
    font-size: 80px;
}
