@charset "UTF-8";

html{
    font-size: 100%;

}

body{
    font-family:  "游ゴシック体","Yu Gothic Medium", "ヒラギノ角ゴ Pro W3", sans-serif;

    color:black;

}

/* 背景 */
#home{
    background-color: rgb(200, 219, 94);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;

}


#content{
    width: 80vw;
    height: 100vh;
    /* background-color: coral; */
    margin-left: auto;
    margin-right: auto;
    position: relative;    
}


#mainflase{
    height: 35px;
    width: 250px;
    /* background-color: rgb(200, 106, 209); */
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    top:50px;


}

h1{
    font-size: 16px;
    font-weight:bold;
}

/* じゃがりこ画像 */
#snack{
    height: 90px;
    width: 90px;
    /* background-color: darkred; */
    position: absolute;
    left: 20px;
    top:130px;
}

/* 体重計画像 */
#weight{
    height: 90px;
    width: 70px;
    /* background-color: darkred; */
    position: absolute;
    left: 190px;
    top:130px;

}

/* 矢印画像 */
#arrow{
height: 90px;
width: 70px;
/* background-color: darkred; */
position: absolute;
left: 110px;
top:130px;

}



/* 個数の質問 */
#countquestion{
    height: 30px;
    width: 160px;
    /* background-color: darkred; */
    position:absolute;
    left: 70px;
    top: 250px;
    text-align: center
}

/* 個数の選択 */
#count{
    height: 20px;
    width: 100px;
    /* background-color: darkred; */
    position: absolute;
    left: 90px;
    top:300px;

}

/* 期間の質問 */
#mounthquestion{
    height: 30px;
    width: 170px;
    /* background-color: darkred; */
    position: absolute;
    left: 65px;
    top:330px;
    text-align: center
}

/* 期間の選択 */
#mounth{
    height: 20px;
    width: 100px;
    /* background-color: darkred; */
    position: absolute;
    left: 90px;
    top:380px;

}

/* 結果ボタン */
#result{
    height: 30px;
    width: 120px;
    /* background-color: darkred; */
    position: absolute;
    left: 82px;
    top:440px;
    text-align: center
}
