@charset "UTF-8";

html{
    font-size: 100%;

}

body{
    font-family:  "游ゴシック体","Yu Gothic Medium", "ヒラギノ角ゴ Pro W3", sans-serif;
    letter-spacing: 0.1em;
    color:black;

}

/* 背景 */
#home{
    background-color:rgb(223, 92, 75);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}


#content{
    width: 80vw;
    height: 100vh;
    /* background-color: coral; */
    margin-left: auto;
    margin-right: auto;
    position: relative;    
}

/*  */
#fat{
    width: 350px;
    height: 400px;
    /* background-color: rgb(80, 191, 255); */
    position: absolute;
    left: 600px;
    top: 95px;
}

/* メインフレーズ領域*/
#mainflase{
    font-size: 25px;
    width: 450px;
    height: 90px;
    /* background-color:darkmagenta; */
    margin-left: auto;
    margin-right: auto;
    position: relative;    
}

/* メインフレーズ */
h1{
    font-size: 60px;
    text-align: center;
}

/* アドバイス領域 */
#advace{
    width: 550px;
    height: 180px;
    /* background-color: rgb(193, 139, 224); */
    position: absolute;
    left: 100px;
    top: 350px;
}

/* アドバイス */
h2{
    font-size: 40px;
    text-align: center;

}

/* 増えた体重領域 */
#allresult{
    height: 80px;
    width: 200px;
    /* background-color: darkred; */
    position: absolute;
    left: 250px;
    top:210px;
    text-align: center
}

/* 増えた体重 */
p{
    font-size: 50px;
    font-weight:bold;
}
